/* This is a style sheet */

body
{
	/*background-color: #78C7C7; */
	background-color: #98AFC7;
	color: #2B3856;
	font-family: "Trebuchet MS";

}

h1
{
	text-align: center;	
	background-color: #2B3856;
	color: #98AFC7;
}

h2
{
	text-decoration: underline;
	font-variant: small-caps;

}

h3
{
	font-style: italic;
}

a
{
	text-align: center;
	display: block;
	font-size: 28px;
}